<div class="products-block">
    <div class="page-title">
        <span>The Most Popular Certificates</span>
        <svg>
            <use xlink:href="{{ asset('/assets/shop/images/sprite.svg') }}#wave"></use>
        </svg>
    </div>
    <div class="products-list">
        <a href="" class="product">
            <div class="product__thumb">
                <img src="data/product-1.jpg" width="265" height="175" alt="">
            </div>
            <div class="product__row">
                <div class="product__title">
                    Beauty Day for her
                </div>
                <div class="product__price">
                    from <span>$150.00</span>
                </div>
            </div>
        </a>
        <a href="" class="product">
            <div class="product__thumb">
                <img src="data/product-2.jpg" width="265" height="175" alt="">
            </div>
            <div class="product__row">
                <div class="product__title">
                    Beauty Day for her
                </div>
                <div class="product__price">
                    from <span>$150.00</span>
                </div>
            </div>
        </a>
        <a href="" class="product">
            <div class="product__thumb">
                <img src="data/product-3.jpg" width="265" height="175" alt="">
            </div>
            <div class="product__row">
                <div class="product__title">
                    Beauty Day for her
                </div>
                <div class="product__price">
                    from <span>$150.00</span>
                </div>
            </div>
        </a>
        <a href="" class="product">
            <div class="product__thumb">
                <img src="data/product-2.jpg" width="265" height="175" alt="">
            </div>
            <div class="product__row">
                <div class="product__title">
                    Beauty Day for her
                </div>
                <div class="product__price">
                    from <span>$150.00</span>
                </div>
            </div>
        </a>
        <a href="" class="product">
            <div class="product__thumb">
                <img src="data/product-4.jpg" width="265" height="175" alt="">
            </div>
            <div class="product__row">
                <div class="product__title">
                    Beauty Day for her
                </div>
                <div class="product__price">
                    from <span>$150.00</span>
                </div>
            </div>
        </a>
        <a href="" class="product">
            <div class="product__thumb">
                <img src="data/product-5.jpg" width="265" height="175" alt="">
            </div>
            <div class="product__row">
                <div class="product__title">
                    Beauty Day for her
                </div>
                <div class="product__price">
                    from <span>$150.00</span>
                </div>
            </div>
        </a>
        <a href="" class="product">
            <div class="product__thumb">
                <img src="data/product-6.jpg" width="265" height="175" alt="">
            </div>
            <div class="product__row">
                <div class="product__title">
                    Beauty Day for her
                </div>
                <div class="product__price">
                    from <span>$150.00</span>
                </div>
            </div>
        </a>
        <a href="" class="product">
            <div class="product__thumb">
                <img src="data/product-7.jpg" width="265" height="175" alt="">
            </div>
            <div class="product__row">
                <div class="product__title">
                    Beauty Day for her
                </div>
                <div class="product__price">
                    from <span>$150.00</span>
                </div>
            </div>
        </a>
        <a href="" class="product">
            <div class="product__thumb">
                <img src="data/product-8.jpg" width="265" height="175" alt="">
            </div>
            <div class="product__row">
                <div class="product__title">
                    Beauty Day for her
                </div>
                <div class="product__price">
                    from <span>$150.00</span>
                </div>
            </div>
        </a>
    </div>
    <div class="btn-line">
        <a href="" class="btn">
            See more
        </a>
    </div>
</div>
