<div class="products-block">
    <div class="products-list">
        {% for child in root.children %}
            {% include 'Shop/Product/_grid_item.html.twig' with {
                'url': child.url,
                'image': child.images[0],
                'name': child.name,
                'minPrice': 'template.grid.price_from'|trans({'%price%':child.statistics.minProductPrice|shopPrice})} %}
        {% endfor %}
    </div>
    {% if root.children.count > 9 %}
    <div class="btn-line">
        <a href="" class="btn">
            See more
        </a>
    </div>
    {% endif %}
</div>
