/.idea
/docker/mysql/
/website_symfony
/.env
/project/public/bundles/
/project/var/
/project/vendor/
/project/public/uploads
/project/.phpunit
/project/phpunit.xml
/project/.web-server-pid
/project/.phpcs-cache
/project/phpcs.xml
/project/.php_cs
/project/.php_cs.cache
/project/public/cache/images/*
