{% extends 'Shop/Partner/index.html.twig' %}

{% block account_data %}
<div class="account-data">
    <form class="account-edit" id="change-pass">
        <div class="account-inner__title">
            Change Password
        </div>
        <div class="form-group">
            <label for="reg-name" class="form-label">
                Enter Your Old Password
            </label>
            <input type="password" class="form-field" id="reg-name">
        </div>
        <div class="form-group">
            <label for="reg-phone" class="form-label">
                Enter a New Password
            </label>
            <input type="password" class="form-field" id="reg-phone">
        </div>
        <div class="form-group">
            <label for="reg-mail" class="form-label">
                Confirm password
            </label>
            <input type="password" class="form-field" id="reg-mail">
        </div>
        <button class="btn btn--blue">
            Save Changes
        </button>
    </form>
    <div class="account-data__thumb">
        <img src="{{ asset('assets/shop/images/account.svg') }}" width="260" height="406" alt="">
    </div>
</div>
{% endblock %}
