{% if breadcrumbs|length > 1 %}
<ul class="breadcrumbs">
    {% for key, item in breadcrumbs %}
        <li>
        {% if loop.last %}
            <span>{{ item.title }}</span>
        {% else %}
            <a href="{{ item.url }}">{{ item.title }}</a>
        {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}
