<div class="page contacts-page">
    <div class="page-inner">
        <ul class="breadcrumbs">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <span>Contact Us</span>
            </li>
        </ul>
        <div class="page-title">
            <span>Contact Us</span>
            <svg>
                <use xlink:href="/images/sprite.svg#wave"></use>
            </svg>
        </div>
        <div class="contacts">
            <div class="contacts-sidebar">
                <form class="contacts-form" id="contacts-form">
                    <div class="contacts-form__title">
                        <svg>
                            <use xlink:href="/images/sprite.svg#pencil"></use>
                        </svg>
                        Leave a Review
                    </div>
                    <div class="contacts-form__inner">
                        <div class="contacts-form__caption">
                            If you believe you have a valid product key and are still receiving an error, please contact Support.
                        </div>
                        <div class="form-group">
                            <label for="contacts-name" class="form-label">Name</label>
                            <input type="text" class="form-field" id="contacts-name">
                        </div>
                        <div class="form-group">
                            <label for="contacts-mail" class="form-label">Email</label>
                            <input type="text" class="form-field" id="contacts-mail" placeholder="Leave an email to get respond">
                        </div>
                        <div class="form-group">
                            <label for="contacts-comment" class="form-label">Your Comment</label>
                            <textarea type="text" class="form-area" id="contacts-comment"></textarea>
                        </div>
                    </div>
                    <button class="btn btn--blue">
                        Submit my Message
                    </button>
                </form>
            </div>
            <div class="contacts-inner">
                <div class="contacts-title">
                    Company’s Information
                </div>
                <div class="contacts-list">
                    <div class="contacts-list__item">
                        <div class="contacts-list__item-title">
                            <div class="contacts-list__item-thumb">
                                <svg>
                                    <use xlink:href="/images/sprite.svg#clock"></use>
                                </svg>
                            </div>
                            Working hours:
                        </div>
                        <div class="contacts-list__item-inner">
                            <div class="contacts-list__item-line">
                                Mon - Fri:<span>09:30 - 19:00</span>
                            </div>
                            <div class="contacts-list__item-line">
                                Sat:<span>11:30 - 19:00</span>
                            </div>
                            <div class="contacts-list__item-line">
                                Sun:<span class="off">day off</span>
                            </div>
                        </div>
                    </div>
                    <div class="contacts-list__item">
                        <div class="contacts-list__item-title">
                            <div class="contacts-list__item-thumb">
                                <svg>
                                    <use xlink:href="/images/sprite.svg#location"></use>
                                </svg>
                            </div>
                            How to find US:
                        </div>
                        <div class="contacts-list__item-inner">
                            <div class="address">
                                2007 Hongmei Rd, Xuhui Qu, Shanghai Shi, China,
                                201103
                            </div>
                        </div>
                    </div>
                    <div class="contacts-list__item">
                        <div class="contacts-list__item-title">
                            <div class="contacts-list__item-thumb">
                                <svg>
                                    <use xlink:href="/images/sprite.svg#phone"></use>
                                </svg>
                            </div>
                            cALL US:
                        </div>
                        <div class="contacts-list__item-inner">
                            <a href="tel:+8618810324646" class="contacts-list__item-line">
                                +86 188 1032 4646
                            </a>
                        </div>
                    </div>
                    <div class="contacts-list__item">
                        <div class="contacts-list__item-title">
                            <div class="contacts-list__item-thumb">
                                <svg>
                                    <use xlink:href="/images/sprite.svg#envelop"></use>
                                </svg>
                            </div>
                            cALL US:
                        </div>
                        <div class="contacts-list__item-inner">
                            <a href="mailto:info.zigifts.com" class="contacts-list__item-line mail">
                                info.zigifts.com
                            </a>
                        </div>
                    </div>
                </div>
                <div class="socials">
                    <a href="" class="socials__item">
                        <svg>
                            <use xlink:href="/images/sprite.svg#fb"></use>
                        </svg>
                    </a>
                    <a href="" class="socials__item">
                        <svg>
                            <use xlink:href="/images/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                    <a href="" class="socials__item">
                        <svg>
                            <use xlink:href="/images/sprite.svg#pinteres"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
