<a href="{{ path('shop_ajax_cart_add_item') }}" id="product_add_to_cart" data-product="{{ id }}">
    <button class="btn btn--blue buy-btn">{{ 'template.products_index.buy_button'|trans }}</button>
</a>
