<div class="row row--end">
        <svg class="filter-handler">
            <use xlink:href="/images/sprite.svg#filter"></use>
        </svg>
        <div class="services-sort">
            <span class="services-sort__label">Area by:</span>
            <select name="area-sort">
                <option value="Pudong_Xinqu">Pudong Xinqu</option>
                <option value="Pudong_Xinqu">London</option>
                <option value="Pudong_Xinqu">Kharkov</option>
            </select>
        </div>
        <div class="services-sort">
            <span class="services-sort__label">Price by:</span>
            <select name="area-sort">
                <option value="Pudong_Xinqu">from cheap</option>
                <option value="Pudong_Xinqu">from expensive</option>
                <option value="Pudong_Xinqu">from cheap</option>
                <option value="Pudong_Xinqu">from expensive</option>
            </select>
        </div>
    </div>
