
<a href="" class="product">
    <div class="product__thumb">
        <img src="data/product-1.jpg" width="366" height="241" alt="">
    </div>
    <div class="product__row">
        <div class="product__title">
            Beauty Day for her
        </div>
        <div class="product__price">
            from <span>$150.00</span>
        </div>
    </div>
</a>